*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #9A60B4;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box{
    width: 90vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    background-image: url("../images/right.png"), url("../images/left.png");
    background-position: right bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}

/* hide logo and text on small screens */
@media (max-width: 768px) {
  header h2 {
    display:flex;
    font-size: medium;
  }
  /* header {
    margin-bottom: 18%;
  } */
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color:#FAC858;
    float: left;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: unset;
}
.menu a{
    margin: 0 20px;
}
.menu a:hover{
    color: darkslateblue;
}
.box button{
    height: 36px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.login{
    background-color: #9A60B4;
    color: white;
    margin-right: 20px;
}
.login:hover{
    background-color: blueviolet;
    color: white;
}
.register{
    background-color: blueviolet;
    color: white;
}
.register:hover{
    background-color:rebeccapurple;
}
main{
    height: 90%;
    border-radius: 0 0 10px 10px;
}
.left{
    float: left;
    width: 64%;
    height: 100%;
    border-end-start-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: white;
}
@media (max-width: 768px) {
    .left{
        float: left;
        width: 100%;
        height: 90%;
        border-end-start-radius: 10px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
  }
.right{
    float: right;
    width: 36%;
    height: 100%;
    background-image: url("../images/banner.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-end-end-radius: 10px;
}
@media (max-width: 768px) {
  .right{
    /* float: right; */
    width: 100%;
    height: 100%;
    background-image: url("../images/banner.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-end-end-radius: 10px;
}
}

main {
  display: flex;
  flex-direction: column;
}

.right {
  order: -1; /* Change the order of the right div to be displayed first */
}

@media (min-width: 768px) {
  /* Add a media query to reset the order on larger screens */
  main {
    flex-direction: row;
  }

  .right {
    order: initial;
  }
}


.star{
    background-color:bisque;
    width: min-content;
    padding: 10px;
    border-radius: 50px;
}
.title{
    font-size: 50px;
    font-weight: bolder;
}
@media (max-width: 768px) {
    .title {
      font-size: 30px;
    }
  }
@media (max-width: 768px) {
  .join,.star,.title,.desc{
    margin: 20px 0 20px 50px;
}
}

.desc{
    color: gray;
}
.join,.star,.title,.desc{
    margin: 20px 0 20px 100px;
}
.join button{
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    background-color: mediumblue;
    color: white;
}
.join button:hover{
    background-color: blue;
}

@media (max-width: 768px) {
    .join button{
        width: 100px;
        height: 50px;
        font-size: 10px;
        font-weight: bold;
        background-color: mediumblue;
        color: white;
    }
  }

/* hide menu links on small screens */
@media screen and (max-width: 768px) {
    .menu-links {
      display:none;
      margin-left: -10px;
      font-size: smaller;
      background-color: blue;
    }
    .menu-links a {
      margin: 0 10px;
    }
    .menu-btn {
      display: block;
    }
    .menu-btn span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: #333;
      transition: all 0.3s ease-in-out;
    }
    .menu.active .menu-btn span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .menu.active .menu-btn span:nth-child(2) {
      opacity: 0;
    }
    .menu.active .menu-btn span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -8px);
    }
  }

  .menu.active .menu-links {
    display: block;
  }

  .menu-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* .menu-links li {
    margin-bottom: 20px;
  } */

  /* .p-4 {
    padding: 0px !important;
  }

  .row > * {
    flex-shrink: 0;
    width: 50%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  } */

  .flex-column {
    flex-direction: row !important;
  }

@media screen and (max-width: 768px) {
  .flex-column {
    flex-direction: column !important;
  }
} 

.mapstyle {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mapstyle {
    height: 300px;
    width: 100%;
  }
}

#info-window-content {
  width: 200px; /* Set the desired width for the info window */
}

@media screen and (max-width: 768px) {
  #info-window-content {
    width: 100px; /* Set the desired width for the info window */
  }
}

#info-window-content img {
  width: 100%; /* Set the desired width for the image */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
}

@media screen and (max-width: 768px) {
  .row > * {
    width: 95%;
  }
}

.navbar {
  --bs-navbar-brand-margin-end: 1rem;
}

.navbar h2 {
  font-family: 'Oleo Script', Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  width: 100%; /* Added */
  z-index: 1;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  width: 100%; /* Added */
  position: relative;
  transition: height 0.35s ease;
  overflow: hidden;
}

/* Optional: Adjust the transition duration for the navbar toggler */
.navbar-toggler {
  transition: var(--bs-navbar-toggler-transition);
}
}

.about-p {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 80%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
}

@media (max-width: 768px) {
  .about-p {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.info-window {
  width: 300px; /* Set the desired width here */
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #ffffff !important;
}

.bg-custom {
  background-color: transparent;
}